# requires python3.6 or higher
astropy
astroquery
calcos
ccdproc
costools
crds
drizzlepac
fastkde
ipython
jsonschema<4.10.0,>=4.0.1
jupyterlab
mastcasjobs>0.0.2
matplotlib
numpy
pandas
pyregion
regions
scipy
specutils
stwcs